@font-face {
  font-family: "400";
  src: url("../assets/fonts/museosanscyrl_500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "500";
  src: url("../assets/fonts/museosanscyrl_500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "600";
  src: url("../assets/fonts/museo700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "700";
  src: url("../assets/fonts/museo700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
